<!-- Footer -->
<footer class="bg-dark py-4">
    <div class="container text-light">
        <span class="float-end"><a href="#">Back to top</a></span>
        <address>
            <strong>Sierra Bio Lab</strong><br>
            16902 Millikan Ave<br>
            Irvine, CA 92606<br>
            <abbr title="Phone">P:</abbr> (949) 527-9010
        </address>

        <address>
            <strong>Contact</strong><br>
            <a href="mailto:info@sierrabiolab.com">info@sierrabiolab.com</a>
        </address>

        © 2020 Sierra Bio Lab · <a href="https://www.sierrabiolab.com">www.sierrabiolab.com</a> · <a href="#">Privacy</a> · <a href="#">Terms</a>
    </div>
</footer>