<!doctype html>
<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css">

    <title>Elly - Home</title>
</head>

<body class="d-flex flex-wrap h-100">

<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand text-primary" href="#">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    Elly
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/records">Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Photo Scan</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main id="indexMain" class="m-auto">
    <section>
        <div class="container">
            <h1 class="text-primary text-center">
                <i class="bi bi-file-earmark-medical-fill"></i>
                Elly (Mobile)
            </h1>

            <div class="row mt-5">
                <div class="col-md-8 offset-md-2">
                    <form action="/api/upload-standard" method="post" enctype="multipart/form-data">
                        <div class="mb-3 mt-3">
                            <label for="forms" class="form-label">Scan and upload your form by clicking "Choose
                                File"</label>
                            <input class="form-control" type="file" id="forms" name="forms" multiple>
                        </div>
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </form>
                </div>
            </div>

            <!--<div class="row mt-5">
                <div class="col-md-8 offset-md-2">
                    <video id="webcam" autoplay playsinline width="640" height="480"></video>
                    <canvas id="canvas" class="d-none"></canvas>
                    <audio id="snapSound" src="audio/snap.wav" preload="auto"></audio>

                    <button class="btn btn-info text-light" id="camera_btn"><i class="fas fa-camera"></i> Snap!</button>

                    <button class="btn btn-primary text-light" id="flip_btn"><i class="bi bi-symmetry-vertical"></i> Flip</button>
                </div>
            </div>-->


        </div>
    </section>
</main>

<!-- Footer -->
<footer class="bg-dark mt-auto w-100 py-4">
    <div class="container text-light">
        <address>
            <strong>Elly, Inc.</strong><br>
            1355 Market St, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:first.last@example.com">first.last@example.com</a>
        </address>

        © 2020 Elly, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a>
    </div>
</footer>

<!-- Bundle: Bootstrap, jQuery -->
<script src="scripts/bundle.js"></script>

<!-- Custom JavaScript -->
</body>
</html>