<!doctype html>
<html lang="en" class="min-vh-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css">

    <title>Elly - Records</title>
</head>

<body class="min-vh-100">

<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand text-primary" href="/">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    Elly
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Records</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="min-vh-100 mt-5">
    <section>
        <div class="container">

            <h1 class="text-primary mb-5">
                <i class="bi bi-file-earmark-medical-fill"></i>
                Records
            </h1>

            <!--
                <tr>
                    <th scope="col">All</th>
                    <th scope="col">Client Group</th>
                    <th scope="col">Lab ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Submitted</th>
                    <th scope="col">N/P/In-V/Re-test</th>
                    <th scope="col">Test Date</th>
                    <th scope="col">A/C/I</th>
                    <th scope="col">Payment Requested</th>
                    <th scope="col">Payment Received</th>
                    <th scope="col">Payment Date</th>
                </tr>
                -->
            <a class="btn btn-danger me-3" href="/api/clear">Clear Records</a>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploadModal">
                Upload File
            </button>

            <table class="table table-striped mt-4">
                <thead>
                <tr class="mt-4 pt-5">
                    <th scope="col">Barcode</th>
                    <th scope="col">Name</th>
                    <th scope="col">Download</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="scanTable">

                </tbody>
            </table>

        </div>
    </section>
</main>

<!-- Footer -->
<footer class="bg-dark mt-auto py-4">
    <div class="container text-light">
        <address>
            <strong>Elly, Inc.</strong><br>
            1355 Market St, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:first.last@example.com">first.last@example.com</a>
        </address>

        © 2020 Elly, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a>
    </div>
</footer>

<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">File Upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/api/upload" method="post" enctype="multipart/form-data">

                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label">Upload your form (.pdf, .xlsx, .xls)</label>
                        <input class="form-control" type="file" id="uploadFile" name="uploadFile">
                    </div>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bundle: Bootstrap, jQuery -->
<script src="scripts/bundle.js"></script>

<!-- Custom JavaScript -->
<script src="scripts/table-populator.js"></script>
</body>
</html>