<!doctype html>
<html lang="en" class="min-vh-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/style.css">

    <title>Elly - Records</title>
</head>

<body class="min-vh-100">

<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand text-primary" href="/">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    Elly
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photo-scan">Photo Scan</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/payment">Payment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="min-vh-100 mt-5">
    <section>
        <div class="container-fluid">

            <h1 class="text-primary mb-3">
                <i class="bi bi-people-fill"></i>
                Records
            </h1>
            <a class="btn btn-danger me-3" href="/api/clear">
                <i class="bi bi-backspace"></i>
                Clear Records
            </a>
            <button type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#uploadModal">
                <i class="bi bi-upload"></i> Upload File
            </button>
            <a class="btn btn-info text-white me-3" href="/api/xlsx"><i class="bi bi-download"></i> Download All Records
                (XLSX)</a>

            <!-- Triggers Modal -->
            <button type="button" class="btn btn-warning me-3" data-bs-toggle="modal" data-bs-target="#dateModal"><i
                        class="bi bi-download"></i> Download Records (XLSX) by Test Date Range
            </button>

            <nav class="float-end paginationNav" aria-label="Page navigation example">

                <ul class="pagination">
                    <li id="prev" class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="next page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <table class="table table-striped table-bordered mt-4">
                <thead>
                <tr class="mt-4 pt-5">
                    <th scope="col">Patient ID</th>
                    <th scope="col">Client Group</th>
                    <th scope="col">Lab ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Test Date</th>
                    <th scope="col">Submitted</th>
                    <th scope="col">Sample Type</th>
                    <th scope="col">N/P/In-V/Re-test</th>
                    <th scope="col">A/C/I</th>
                    <th scope="col">Payment Requested Date</th>
                    <th scope="col">Payment Received Amount</th>
                    <th scope="col">Payment Received Date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody id="scanTable">

                </tbody>
            </table>

            <nav class="paginationNav" aria-label="Page navigation example">

                <ul class="pagination">
                    <li id="prev" class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="next page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>

<!-- Footer -->
<footer class="bg-dark mt-auto w-100 py-4">
    <div class="container text-light">
        <address>
            <strong>Sierra Bio Lab</strong><br>
            16902 Millikan Ave<br>
            Irvine, CA 92606<br>
            <abbr title="Phone">P:</abbr> (949) 527-9010
        </address>

        <address>
            <strong>Contact</strong><br>
            <a href="mailto:info@sierrabiolab.com">info@sierrabiolab.com</a>
        </address>

        © 2020 Sierra Bio Lab · <a href="https://www.sierrabiolab.com">www.sierrabiolab.com</a> · <a href="#">Privacy</a> · <a href="#">Terms</a>
    </div>
</footer>

<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">File Upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" action="/api/upload" method="post" enctype="multipart/form-data">

                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label">Upload your form (.pdf, .xlsx, .xls)</label>
                        <input class="form-control" type="file" id="uploadFile" name="uploadFile">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" form="uploadForm" type="submit">Upload</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Record Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" action="" method="post">


                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" form="editForm" type="submit">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Download by Date Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dateModalLabel">Download Records Within Date Range</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="dateForm" action="/api/xlsxRange" method="post">
                    <!--
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                        <select class="form-select" id="inputGroupSelect01">
                          <option selected>Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                    </div>
                    -->


                    <div class="mb-3 mt-3">
                        <label for="date1" class="form-label">Select start date</label>
                        <input class="form-control" type="date" id="date1" name="date1">
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="date2" class="form-label">Select end date</label>
                        <input class="form-control" type="date" id="date12" name="date2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" form="dateForm" type="submit">Download</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bundle: Bootstrap, jQuery -->
<script src="/scripts/bundle.js"></script>

<!-- Custom JavaScript -->
<script src="/scripts/records-page-init.js"></script>
<script src="/scripts/table-populator.js"></script>
<script src="/scripts/edit-modal-populator.js"></script>
</body>
</html>